<div class="container">

    <div class="jumbotron">
        <h1>Eat the Burger</h1>
        <h4>Hungry?</h4>
        <br>
        <h2>Add a New Burger!</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">New Burger:</label>
                    <input type="text" id="newburger" name="burger">

                    <button type="submit" class="btn btn-success" id="addburger">Add Burger!</button>
                </div>
            </form>
        </panel>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>New Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <button type="button" class="btn btn-warning" id="devourit" data-id="{{this.id}}"
                            data-devouredState="{{devour}}">Devour it!</button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Devoured Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>